body{
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/fondo_body.png);
}

/* Navbar de las páginas responsive con bootstrap*/
.navbar {
  margin-bottom: 4%;
  background: linear-gradient(90deg, rgba(144,235,232,1) 45%, rgba(199,228,153,1) 100%);;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
  color: #111111;
}

.seccion-oscura {
  color: white;
  background: linear-gradient(90deg, rgba(144,235,232,1) 45%, rgba(199,228,153,1) 100%);
}

.seccion-clara {
  color: black;
  background-color: transparent;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}


/* Uso de grid para la presentación de la iniciativa en el index*/
.container-personalized {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 5%; 
} 

.business-subtitle{
  font-size: 15pt;
}
  
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 90%;
}
  
.description {
  display: flex;
  flex-direction: column;
  vertical-align: text-top;
  justify-content: center;
  background-position: center bottom;
  padding: 20px;
  background-repeat: no-repeat;
  background-image: url(../img/imagenfondo.png);
}

.description .businessdescription{
  text-align: center;
  padding-left: 30%;
  padding-right: 10%;
  margin-left: 8%;
  margin-top: 2%;
  width: 85%;
  font-size: 14pt;
}

.titlesection{
  color:rgb(0 0 0);
  text-align: center; 
  font-size: 25pt; 
  margin-top: 3%;
}

/* Estilos generales de cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 5%;
  width: 100%;
}

.card-container-personalized {
  justify-content: center;
  margin-left: 3%;
}

.card {
  width: 30%;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
}

.card-text {
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.card-text h3 {
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 14.5pt;
}

.card-text p {
  margin-bottom: 0;
  font-size: 12pt;
}

/* Logos en index */

.logoGSTW{
  zoom: 40%; 
  vertical-align: middle;
}

.logosiemens{
  zoom: 60%; 
  vertical-align: middle; 
}

/* Estilos generales footer páginas no responsive */

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  text-align: center;
}

footer {
  margin-top: 5%;
  background-color: #F0F0F0;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

.footer-right {
  flex: 0 0 80px; /* el último valor define el ancho máximo */
  display: flex;

}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.logofooter{
  zoom: 15%; 
  margin-left: 20%;
}

.instagramlink{
  text-align: center; 
  font-size: 5pt; 
  color: black;
  display: block;
}

.a:visited .instagramlink{
  text-align: left; 
  font-size: 5pt; 
  color: black;
}

/* Estilos de logos e imagenes de las páginas de misión, partners, steminism y gallery */
.imgside{
  margin-top: 5%;
  zoom: 40%;
}

.personalizedtitle{
  zoom: 50%;
  margin-bottom: 2%;
}

.tablepartners{
 width: 90%;
 margin-left:5%;
 margin-bottom: 3%;
}

.logoresize{
  zoom: 50%;
}

.logospartnerssmall{
  zoom: 16%;
}

.subtitle{
  margin-top: 2%;
  margin-bottom: 4%;
}

.imgsidestem{
  zoom: 55%;
  border-radius: 8%;
  margin-left: 6%;
}

.descriptionstem{
  padding: 4%;
}

.imgsideedu{
  margin-top: 5%;
  zoom: 100%;
}

/* Responsive con bootstrap páginas de Misión y Steminism */

/* Contenido inicial mision y ecosteminism responsive*/
.initialcontent {
  background-color: transparent;
  min-height: 445px;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(imagenes/background.png);
  justify-content: center;
}

.initialcontent-principal {
  padding: 3rem;
}

.initialcontent-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.initialconten-principal h2 {
  font-size: 1.5rem;
  color: #010101;
  margin-bottom: 5%;
}

/* Valores mision responsive*/
.valores {
  padding: 40px 40px 60px 40px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(imagenes/background.png);
  
}

.valores .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  background-color: transparent;
}

.valores .columna:hover {
  background-color: #84cedbab;
}

.valores i {
  font-size: 2.5rem;
  color: #fcfcfc;
  background-color: #020202;
  padding: 8px 19px;
  border-radius: 50%;
}

.valores-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

/* Testimonios mision responsive*/

.testimonios {
  padding: 40px 40px 80px 40px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(imagenes/background.png);
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
  margin-top: 4%;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto mision responsive*/

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #0f0f0f;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Articulos steminism responsive*/

.articulos {
  min-height: 400px;
  padding: 30px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(imagenes/background.png);
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}


/* Footer responsive*/

.logofooterresponsive{
  zoom: 15%;
  justify-content: center;
}

.footer-phrase-responsive{
  font-size: 18pt;
}

.footertext{
  margin-top: 2%;
}

/* Responsive media queries*/

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .testimonio-texto {
    font-size: 18px;
  }
}
