@import "../base/listas";

/* Body */
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/fondo_body.png);

    h1 {
        font-size: 25pt;
        font-family: 'Rubik Dirt', cursive;
        color: nth($colors,1);
        width: 90%;
    }

    h2 {
        font-size: 25pt;
        font-family: 'Rubik Dirt', cursive;
        color: nth($colors,1);
        width: 90%;
    }

    .imgmvleft{
        &:hover{
            transform: scale(1.2) translateX(-50px);
            transition: all 1s;
        }
    }

    .imgmvright{
        &:hover{
            transform: scale(1.2) translateX(50px);
            transition: all 1s;
        }
    }

    .imgmvcenter{
        &:hover{
            transform: scale(1.8);
            transition: all 1s;
        }
    }
}


  