@import "../base/variables";

.imgside{
    margin-top: 5%;
    zoom: 40%;
    justify-content: center;

    
    @media (max-width: $breakpoint-tablet) {
        zoom: 25%;        
    }
}
  
.personalizedtitle{
    zoom: 50%;
    margin-bottom: 2%;
}
  